<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
        <ul>
          <li class="noline">
             HOME
             <ul>
                <li>
                  <label for="item1">1</label><input id="item1" type="checkbox">
                  <ul>
                    <span class="more">&hellip;</span>
                    <li><label for="item1.1">1.1</label><input id="item1.1" type="checkbox"></li>
                    <li><label for="item1.2">1.2</label><input id="item1.2" type="checkbox"></li>
                  </ul>
                </li>
                <li>
                  <label for="item2">2</label><input id="item2" type="checkbox">
                  <ul>
                    <span class="more">&hellip;</span>
                    <li>
                      <label for="item2.1">2.1</label><input id="item2.1" type="checkbox">
                      <ul>
                        <span class="more">&hellip;</span>
                        <li>
                          <label for="item2.1.1">2.1.1</label><input id="item2.1.1" type="checkbox">
                          <ul>
                            <span class="more">&hellip;</span>
                            <li><label for="item2.1.1.1">2.1.1.1</label><input id="item2.1.1.1" type="checkbox"></li>
                            <li><label for="item2.1.1.2">2.1.1.2</label><input id="item2.1.1.2" type="checkbox"></li>
                            <li><label for="item2.1.1.3">2.1.1.3</label><input id="item2.1.1.3" type="checkbox"></li>
                            <li><label for="item2.1.1.4">2.1.1.4</label><input id="item2.1.1.4" type="checkbox"></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><label for="item2.2">2.2</label><input id="item2.2" type="checkbox"></li>
                  </ul>
                 </li>
                <li>
                  <label for="item3">3</label><input id="item3" type="checkbox">
                 </li>
                <li>
                  <label for="item4">4</label><input id="item4" type="checkbox" checked>
                  <ul>
                    <span class="more">&hellip;</span>
                    <li>
                      <label for="item4.1">4.1</label><input id="item4.1" type="checkbox">
                      <ul>
                        <span class="more">&hellip;</span>
                        <li><label for="item4.1.1">4.1.1</label><input id="item4.1.1" type="checkbox"></li>
                        <li><label for="item4.1.2">4.1.2</label><input id="item4.1.2" type="checkbox"></li>
                        <li><label for="item4.1.3">4.1.3</label><input id="item4.1.3" type="checkbox"></li>
                      </ul>
                    </li>
                    <li><label for="item4.2">4.2</label><input id="item4.2" type="checkbox"></li>
                    <li>
                      <label for="item4.3">4.3</label><input id="item4.3" type="checkbox">
                      <ul>
                        <span class="more">&hellip;</span>
                        <li><label for="item4.3.1">4.3.1</label><input id="item4.3.1" type="checkbox"></li>
                      </ul>
                    </li>
                    <li><label for="item4.4">4.4</label><input id="item4.4" type="checkbox"></li>
                   </ul>
                 </li>
            </ul>
          </li>
        </ul>
    </div>
</body>
</html>

